html
{
  height: calc(100% - 2px);
}

body
{
	background-color: #121212; /* BasedGod */
	border: 0;
	padding: 0;
	margin: 0;
  height: inherit;
}

body.embed
{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.navbar
{
	margin-bottom: 0px;
  position: absolute;
  width: 100%;
}

.stream-box
{
	width: -moz-calc(100% - 390px);
	width: -webkit-calc(100% - 390px);
	width: -o-calc(100% - 390px);
	width: calc(100% - 390px);
}

#map 
{
    height: inherit;
    min-height: inherit;
    background: #121212;
    display: block;
}

.fill
{ 
    min-height: inherit;
    height: inherit;
    width: 100%;
    margin: 0;
}

.container-full 
{
	margin-left: 0px;
	margin-right: 0px;
  width: 100%;
  padding-top: 52px;
}

.donate>a>span
{
	background-color: #b91010;
	border-radius: 8px;
	color: #fafafa;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
	padding: 1px 4px;
}

.whitetext
{
	color: #FFFFFF;
}

/*for the strims page*/
.thumbnail > img, 
.thumbnail a > img {
  max-height: 120px;
}
.thumbnail {
  background-color: #222;
  border: 1px solid #5D5D5D;
}

.label-as-badge {
  border-radius: 1em;
}

.sortableStream {
  transition: all 4000ms ease;
  box-sizing: border-box;
}

.stream-label > a {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.stream-label > a:hover{
  white-space: normal;
}

/* add a little bottom space under the images */

/*
TODO: handle md, xs, and sm differently
right now this only handles lg, sm, and xs
*/

@media (min-width: 768px) and (max-width: 991px) {
  .stream-list>.clear:nth-child(6n)::before {
    content: '';
    display: table;
    clear: both;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .stream-list>.clear:nth-child(8n)::before {
    content: '';
    display: table;
    clear: both;
  }
}
@media (min-width: 1200px) {
  .stream-list>.clear:nth-child(12n)::before {  
    content: '';
    display: table;
    clear: both;
  }
}