<div class="row">
  <div class="col-sm-8 col-sm-offset-2 well-lg">
    <h1 align="center">Hello, <%=  current_user.twitchuser %></h1>

    <table class="table table-striped">
      <tr>
        <th>Channel</th>
        <th>Twitch User</th>
        <th>Service</th>
        <th>Stream</th>
        <th>Last Seen</th>
        <th>Known IP</th>
      </tr>
      <tr>
        <tD>Channel</tD>
        <tD>Twitch User</tD>
        <tD>Service</tD>
        <tD>Stream</tD>
        <tD>Last Seen</tD>
        <tD>Known IP</tD>
      </tr>

    </table>

  </div>
</div>