<form action="/admin/ban" class="form-inline">
  <div class="form-group">
    <label for="ban_name">Name</label>
    <input type="text" class="form-control" id="ban_name" placeholder="stream or channel" name="name" value="<%= locals.user ? locals.user.overrustle_username : '' %>">
  </div>
  <div class="form-group">
    <label for="ban_reason">Reason</label>
    <input type="text" class="form-control" id="ban_reason" placeholder="reason" name="reason">
  </div>
  <button type="submit" class="btn btn-default">Ban Channel</button>
</form>