<div class="container" id="strims_content">
  <div style="display: table; margin: 0 auto;">
  <div id="status"></div>
  </div>
  <h1 align="center" style="color: #FFFFFF;">See what <span id="viewercount"></span> rustlers are watching!</h1>
  <div id="strims">
  <div class="row stream-list"></div>
</div>

<script type="text/javascript" src="/js/stream_list.js"></script>
