<div class="pull-left stream-box" id="map">
  <%- include("services/"+service); %>
</div>

<div class="pull-right chat-box" id="map" style="width: 390px;">
  <div class="tab-content" style="height: 100%;">
    <div class="tab-pane fade active in" id="destinychat" style="height: 100%;">
      <iframe width="100%" marginheight="0" marginwidth="0" frameborder="0" src="https://destiny.gg/embed/chat" scrolling="no" style="height: 100%;"></iframe>
    </div>
    <% if(SERVICES.hasOwnProperty(locals.service) && SERVICES[locals.service].chat){ %>
      <div class="tab-pane fade" id="otherchat" style="height: 100%;">
        <%- include("chat/"+service); %>
      </div>
    <% } %>
    <div id="chat-panel-resize-bar"></div>
  </div>
</div>

<script src="//api.OverRustle.com/strims.js"></script>
<!-- <script src="//localhost:9998/strims.js"></script> -->
