<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand hidden-sm" href="/">OverRustle</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if(locals.stream){ %>
          <% if(locals.service === "twitch"){ %>
            <li><a href="#"><span id="service-viewers"></span></a></li>
          <% } %>
          <li><a target="_blank" href="/"><div id="server-broadcast"></div></a></li>
        <% } %> 
        <li class="donate"><a target="_blank" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=6TUMKXJ23YGQG"><span>Donate</span></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if(locals.service && SERVICES.hasOwnProperty(service) && SERVICES[service].chat){ %>
          <li class="active"><a href="#destinychat" role="tab" data-toggle="tab">Destiny Chat</a></li>
          <li class=""><a href="#otherchat" role="tab" data-toggle="tab"> <%= SERVICES[locals.service].display_name %> Chat</a></li>
        <% } %> 
        <li class="hidden-md hidden-sm">
          <form action="destinychat" class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <select name="s" class="form-control">
                <% for(var i=0; i<SERVICE_NAMES.length; i++) { %>
                  <option value="<%= SERVICE_NAMES[i] %>"><%= SERVICES[SERVICE_NAMES[i]].display_name %></option>
                <% } %>
                <option value="advanced">Advanced</option>
              </select>
              <!-- 
              WARNING: URLs with hashbangs will get butchered so avoid them
               -->
              <div class="input-group">
                <input type="text" name="stream" type="text" class="form-control" placeholder="Stream/Video ID"/>
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-default hidden-md hidden-sm">Go</button>
                </span>
              </div>
            </div>
          </form>
          <!-- 
          TODO: submit this form with javascript so that it takes you to /:service/:stream instead of the querystring garbage
           -->

        </li>
        <li>
          <div class="btn-group">
          <!-- add 'active' class to approriate pages -->
          <% if(locals.current_user){ %>
            <a class="btn btn-default navbar-btn" href="/profile" title="Profile" >
              <span class="glyphicon glyphicon-user"></span>
            </a>
            <a class="btn btn-default navbar-btn" href="/logout" title="Log Out">
              <span class="glyphicon glyphicon-off"></span>
            </a>
          <% } else { %>
            <a class="btn btn-default navbar-btn" href="<%- global.TWITCH_OAUTH_URL %>" title="Log In">
              <span class="glyphicon glyphicon-log-in"></span>
            </a>
          <% } %>
            <button class="btn btn-default navbar-btn" data-target="#user_settings" data-toggle="collapse" title="Settings" aria-expanded="false" aria-controls="user_settings" type="button">
              <span class="glyphicon glyphicon-cog"></span>
            </button>

          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>