<object data='http://www.twitch.tv/widgets/archive_embed_player.swf' id='clip_embed_player_flash' type='application/x-shockwave-flash' width='100%' height='100%'>
  <param name='movie' value='http://www.twitch.tv/widgets/archive_embed_player.swf' />
  <param name='allowScriptAccess' value='always' />
  <param name='allowNetworking' value='all' />
  <param name='allowFullScreen' value='true' />
  <param name='flashvars' value='start_volume=25&auto_play=true&archive_id=<%= stream %>' />
</object>
</div>